# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log
*.pot

# Django
*.sqlite3
db.sqlite3
*.pyc
/staticfiles/
.env
media/

# VS Code
.vscode/

# pipenv
Pipfile.lock

# Byte-compiled / cache files
*.so
*.dylib

# OS
.DS_Store
Thumbs.db
