[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
drf-spectacular = "*"
requests = "*"
django-allauth = "*"
dj-rest-auth = "*"
django = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"
python-dotenv = "*"
dj-database-url = "*"
python-decouple = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.13"
